
html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}


h3 {
	color : blue;
}

table {
  width: 80%;
  border-collapse: collapse;
  border: 2px solid blue;
}

th {
background-color: #fff333;
}

tr:hover {background-color: silver;}
tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
  padding: 2px;
}