/* --- 2022 - up. 06-01-2024 --- */
/* --- 06-01-2024 add class input.search_mf--- */
/* --- .css "NORMAL" personalized for © https://blanksailing.github.io/myfol --- */

html {
	font-family: helvetica, arial, sans-serif;
	color: #000;
}

body {
	max-width: 90%;
	margin: auto;
	background: #fff;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	padding : 6px;
	background-color: lightblue;
}

ul {
	list-style-type: none;
	padding: 0;
	border: 1px solid #ddd;
}

ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd;
}

ul li:last-child {
	border-bottom: none
}

h3 {
	color : blue;
}

button.changeCSS {
	background-color: #121212;
	margin-top: 5px;
	padding: 5px;
	color: #fff;
	float: right;
	transition: 0.5s;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	top: 0px;
	position: sticky;
}

th {
	background-color: #fff333;
}

th.update {
	background-color : #ffffcc;
	font: 14px sans-serif;
	color : red;
	text-align : center;
	border: 1px dotted red;
}

tr:nth-child(even) {
	background-color: #ffffcc;
}

tr:hover {
	background-color: lightgreen;
}

th, td {
	font-variant-numeric: slashed-zero;
	font-family: "Consolas";
	padding: 6px;
	border: 1px dotted grey;
}

input.search_mf {
	font: 18px sans-serif;
	color : blue;
	text-align : center;
	border: 1px dotted red;
	height:35px;
	width:220px;
}